body{
    font-family: Arial, sans-serif;
    background: #ccc;
    margin: 0;
}
.hero{
    background-image: url(../imagens/bg-3.jpg);
    background-position: right center;
    background-size: cover;
    height: 500px;
    border-top: 1px solid transparent;
}
.hero-content{
    text-align: center;
    color:white;
    margin-top: 150px;

}

.hero-content h1{
    text-transform: uppercase;
    font-size: 46px;
    text-shadow: 3px 3px 5px rgb(3, 3, 3);
}

.hero nav li{
    display:inline-block;
    list-style: none;
    margin-left: 10px;
    border: 1px solid white;

}

.hero nav a{
    background: rgba(0,0,0, 0.2);
    display: block;
    padding: 12px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 2px;

}
.hero nav a:hover{
    background: rgba(0,0,0, 0.5);
}

.hero nav ul{
    text-align: right;
    margin: 20px 50px 0 0;

}

main{
    width: 80%;
    margin:auto;
}

.content-section{
    background-color: white;
    padding: 15px;
    margin-top: 15px;
}

.rodape{
    height: 80px;
    color: white;
    font-size: 14px;
    text-align: center;
    text-shadow: 2px 2px 2px black;
    background:#6b6c68;
    line-height: 80px;
}
